<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" conetent="width=device width, initial-scale = 1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        <title>Internship Tracker</title>

        <link rel="stylesheet" type="text/css" href="/styles/header.css">
        <link rel="stylesheet" type="text/css" href="/styles/add-internship.css">
        <link rel="stylesheet" type="text/css" href="/styles/tracker.css">

    </head>
    <body>
        <div class="header">
            <div class="logo">
                <p class="logo-text">Application Tracker</p>
            </div>
            <div class="logout">
                <a href="/users/logout"><button class="logout-button">Logout</button></a>
            </div>
        </div>

        <div class="slogan-container">
            <p class="slogan">Tracking your applications has never been so <span class="slogan-gradient">easy</span></p>
        </div>

        <div class="add-an-internship-container">
            <div class="add-an-internship-title">
                <p>Add an <span class="internship-color">application</span></p>
            </div>
            <div class="add-an-internship-filler">
                <div class="role-container">
                    <input type="text" id="idRole" placeholder="Role" class="role-input">
                </div>
                <div class="company-container">
                    <input classtype="text" id="idCompany" placeholder="Company" class="company-input">
                </div>
                <div class="salary-container">
                    <input type="text" id="idSalary" placeholder="Salary" class="salary-input">
                </div>
            </div>
        
            <button class="add-button">Add</button>
            
        </div>

        <div class="internship-tracker-container">
            <div class="internship-tracker-title-container">
                <p class="internship-tracker-title">Your Tracker</p>
            </div>
            <div class="internship-tracker-table-container">
                <div class="table">
                    <div class="table-row" >
                        <div class="table-column-role-1">Role</div>
                        <div class="table-column-company-1">Company</div>
                        <div class="table-column-salary-1">Salary</div>
                        <div class="table-column-state-1">State</div>
                    </div>

                    <div class="hr-container"><hr class="horizontal-line"></hr></div>
                    
                    <div class="table-row">
                        <div class="table-column-role">SWE</div>
                        <div class="table-column-company">Google</div>
                        <div class="table-column-salary">12,000</div>
                        <div class="table-column-state">Not answered</div>
                    </div>

                    <div class="hr-container"><hr class="horizontal-line"></hr></div>
                    
                    <div class="table-row">
                        <div class="table-column-role">QA Eng</div>
                        <div class="table-column-company">Autodesk</div>
                        <div class="table-column-salary">???</div>
                        <div class="table-column-state">Answered</div>
                    </div>

                    <div class="hr-container"><hr class="horizontal-line"></hr></div>
                    
                    <div class="table-row">
                        <div class="table-column-role">AI / ML</div>
                        <div class="table-column-company">Microsoft</div>
                        <div class="table-column-salary">7,000</div>
                        <div class="table-column-state">Not answered</div>
                    </div>
                </div>
            </div>
        </div>

     
        <script src="public/scripts/add-an-internship.js"></script>
    </body>
</html>