.logo-text{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    color: #ff006e;
}

.sign-up-button, .log-in-button, .logout-button, .activate-button{
    background-color: white;
    color: black;
    height: 30px;
    width: 110px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: poppins;
}

.sign-up-button:hover{
    color:#ffbe0b;
}

.log-in-button:hover{
    color: #8338ec;
}

.logout-button:hover{
    color:#fb5607;
}

.header{
    display: flex;
    flex-direction: row;
}

.sign-up, .log-in, .logout{
    flex: 1;
    text-align: right;
    margin-top: 22px;
}

.activate-email-tracker{
    text-align: center;
    margin-top: 22px;
    flex: 2;
}

.logo{
    flex: 7;
    margin-left: 20px;
}




