.container{
    background-color: #e5e5e5;
    padding-bottom: 60px;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.title-container{
    display: flex;
    text-align: center;
    margin-top: 50px;
}

.title{
    font-family: Poppins;
    font-size: 40px;
    flex: 1;
    color: #ff006e;
}

.form-container{
    display: flex;
    align-content: center;
}

.form{
    flex: 1;
    align-content: center;
    text-align: center;
}

.input-container{
    margin-bottom: 10px;
}

.input{
    border: solid, black, 2px;
    border-radius: 16px;
    padding-left: 15px;
    padding-top:6px;
    padding-bottom:6px;
    padding-right:15px;
    font-family: poppins;
}

.submit-container{
    margin-top: 30px;
    cursor: pointer;
}

.submit{
    font-family: poppins;
    background-color:#3a86ff;
    border: black, solid, 2px;
    border-radius: 16px;
    padding: 6px;
    width: 100px;
    font-weight: 600;
}

.link-container{
    margin-top: 40px;
}

.link{
    font-family: poppins;
    font-style: none;
}
