.main {
    max-width: 1700px;
    margin: 0 auto;
}

.landing-first {
    margin-top: 20px;
    max-width: fit-content;
}

.image-first { 
    text-align: center;
    margin: 0 10%;
}

.preview {
    size: 70%;
    height: auto;
    max-width: 70%;
}

.slogan-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.slogan {
    font-family: futura;
    font-size: 3.5vw;
    font-weight: 700;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 0;
    text-align: center;
}

.slogan-gradient {
    background: linear-gradient(300deg, #ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    .slogan {
        font-size: 3.5vw; 
    }

    .little-slogan {
        font-size: 1.6vw;
    }
    
    .step {
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .slogan {
        font-size: 3.5vw; 
        text-align: center;
    }

    .little-slogan {
        font-size: 1.6vw;
        text-align: center;
    }

    .step {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .landing-first {
        flex-direction: column;
        margin-top: 0;
        padding: 0 5%;
    }

    .slogan {
        font-size: 3.5vw; 
        text-align: center;
    }

    .little-slogan {
        font-size: 1.6vw;
        text-align: center;
    }

    .preview {
        height: auto;
        width: 100%; 
        max-width: 400px; 
        align-items: center;
    }

    .image-first {
        text-align: center;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .walkthrough-title {
        text-align: center;
    }


    .step{
        flex-direction: column;
        flex:1;
    }
}

.walkthrough-container {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
}

.walkthrough-title {
    font-family: poppins, futura;
    font-size: 4vw;
    font-weight: 700;
    text-align: center;
    flex: 3;
}

.hr-container {
    flex: 1;
    width: 100%;
    margin-top: 17px;
    margin-right: 20px;
}

.horizontal-line {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.step-container {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10%;
    display:flex;
    flex-direction: column;
}

.step {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 400px;
    margin-bottom: 10%;
    text-align:center;
}

.title {
    font-family: poppins, futura;
    font-weight: 700;
    font-size: 2.5vw;
    text-align: center;
}

.sub-title {
    font-family: poppins, futura;
    font-weight: 400;
    font-size: 1.5vw;
    margin-left: 20px;
}



.bottom{
    text-align: center;
    margin-top: 40px;
}

.top{
    margin-top: 40px;
}

.image-1, .image-2, .image-3, .image-4 {
    size: 80%;
    height: auto;
    max-width: 80%;
    text-align: center;
}
