.table{
    background-color: #e5e5e5;
    width: 100%;
    border-radius: 10px;
    font-family: poppins;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    border-width: 2px;
    border-color: #e5e5e5;
    border-style: solid;
}

.table-row{
    display: flex;
}

.table-column-role, .table-column-company, .table-column-salary, .table-column-state {
    flex: 8;
}

.delete-button-container{
    flex: 1;
    text-align: right;
}

.table-column-role-1, .table-column-company-1, .table-column-salary-1, .table-column-state-1 {
    flex: 8;
    font-weight: 700;
}

.blank-space{
    flex: 1;
}

.internship-tracker-title-container{
    margin-left: 20px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
}

.internship-tracker-table-container{
    display: flex;
    width: 100%;
}

.hr-container{
    width: 100%;
    flex: 1;
}

.horizontal-line{
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.delete-button{
    background-color: #ff006e;
    border-radius: 7px;
    height: 22px;
    cursor: pointer;
    width: 23px;
    border: black, solid;
}

@media only screen and (max-width: 600px) {
    .table-row{
        flex-direction: column;
    }
}